html, body {
  background-color: #282c34;
  color: #fefefe;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex-grow: 1;
}

footer {
  font-size: 0.75rem;
  text-align: center;
  margin-bottom: 1em;
}

a:visited {
  color: white;
}

.App__pickers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1em auto;
  width: 33%;
}

h1 {
  text-align: center;
  font-size: 72px;
  font-weight: normal;
}

.App__results {
  text-align: center;
}

.App__results p {
  margin: 0.5rem;
}

.App__results button {
  margin-top: 1rem;
}

.App__results__timeLeft {
  font-size: 36px;
  margin-bottom: 1rem;
}
